<body id="sessions">
	<div class="container">
		Sign in
		<%= form_for @user, url: "/sessions/new", method: "post" do |f| %>
			<div><br>
				<%= f.text_field :email, placeholder: "Email" %>
			</div>
			<div><br>
				<%= f.password_field :password, placeholder: "Password" %>
			</div><br>
			<%= f.submit "Sign In" %>
		<% end %>
	</div>
</body>
