<div class="column">
 <img src="http://www.mallorcacyclingtours.com/wp-content/uploads/2014/04/blank-profile-hi.png">
 <ul class="list">
	<li class="info">Name: <%= @user.first_name %> <%= @user.last_name %></li>
	<li class="info">Date Joined: <%= @user.created_at %></li>
	<li class="info">Current City: </li>
 </ul>
</div>
<% @tips.each do |tip| %>
 <ul class="list">
	<li class="info">Name: <%= @tip.name %></li>
 </ul>
 <% end %>
