// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background: url("http://40.media.tumblr.com/031f46c3e427bca1eca2361b1651cffa/tumblr_n6eszmeQMR1st5lhmo1_1280.jpg");
	background-size: cover;
	font-family: "Raleway";
	min-height: 900px;
}
h1 {
	font-family: 'Raleway';
	font-size: 90px;
	padding-top: 60px;
}
h2 {
	font-size: 40px;
}
p {
	font-size: 40px;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    margin-left: 20px;
    text-align: left;
    color: white;
}
.center {
	text-align: center;
}