<body id="tips">
	<div class="container">
		<h1>New tip</h1>
		<%= form_for(@tip) do |f| %>
		  <span>
		    <%= f.text_field :name, placeholder: "Tip Name" %> 
		  </span>
		  <span>
		    <%= f.text_field :description, placeholder: "Description" %>
		  </span>
		  <%= f.submit "Share a post!", class: "btn-submit" %>
		<% end %>
	</div>
</body>