<body id="tips">
<h1>Tips#show</h1>
<p>Find me in app/views/tips/show.html.erb</p>
</body>
<h2>Author: <%= @author_firstname %> <%= @author_lastname %> </h2>
<h2>Title: <%= @tip.name %></h2>
<h2>Comment: <%= @tip.description %></h2>