<body id="places">
<h1><%= @place.name %></h1>
<span>
	Latitude: <%= @place.latitude %>
	Longitude: <%= @place.longitude %>
</span>
<<<<<<< HEAD


=======
<button  type="button" class="btn btn-default btn-lg"><a href="/tips/new">Share a tip!</a></button>
>>>>>>> new_tip
<% @tip.each do |f| %>
	<ul>
		<li><a href="#">Name: <%= f.name %></a></li>
	</ul>
<% end %>
</body>